table {
  width : 50%;
  height: 20%;
  float: right;
}

.addButton{
  float: left;
  margin-left: 42%;
  color: aqua;

}

listeUsersByProfil{
  background-color: aqua;
  width: 10%;
}
.ContainerUserByProfi{
  float: left;
  width: 45%;
  background-color: red;
}
.tableUserByProfil{
  width: 100%;
  background-color: yellow;
}

