mat-sidenav-container{
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}
mat-sidenav{
  width: 150px;

}
.navbar{
  justify-content: space-between;
  background-color: white;
  height: 5%;
}

span{
  padding-right: 1rem;
}
mat-sidenav-content{
background-color: darkblue;
}
.adminContainer{
  background-color: aqua;
}

