<div class="adminContainer">
  <div class="header" *ngIf="isConnected">
    <mat-toolbar class="navbar">
      <div>
        <img src="assets/sa.jpeg" style="width: 42%">
      </div>
      <div>


        <mat-list-item>
          <button class="menu-item" mat-flat-button (click)="logOut()">
            <mat-icon>account_box</mat-icon>
            Logout
          </button>
        </mat-list-item>
        <i class="fas fa-user"></i>
      </div>
    </mat-toolbar>
  </div>
  <div class="sidebar">
    <mat-sidenav-container>
      <mat-sidenav *ngIf="isConnected" [(opened)]="opened" class="sidenav">
        <div *ngIf="opened">
          <mat-list id="menus">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="avatar">

                </div>

                <mat-card-title class="avatarContainer">
                  <img src="assets/sa.jpeg" class="avatar" style="border-radius: 50%" style="width: 100px">
                </mat-card-title>
                <mat-card-subtitle>Prenom NOm</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-list-item>
              <button class="menu-item" mat-flat-button routerLink="/utilisateurs">
                <mat-icon>people</mat-icon>
                Users
              </button>
            </mat-list-item>

            <mat-list-item>
              <button class="menu-item" mat-flat-button routerLink="/profils">
                <mat-icon>work</mat-icon>
                Profil</button>
            </mat-list-item>

            <mat-list-item>
              <button
                class="menu-item"
                mat-flat-button>
                <mat-icon>settings_application</mat-icon>
                Settings</button>
            </mat-list-item>

          </mat-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <button *ngIf="isConnected" (click)="opened=!opened"><mat-icon>dashboard</mat-icon></button>
        <div style="height: 80vh">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>

